@media(max-width:728px) {
    body {
        .homeSection {
            .navMenu {
                &#menu1 {
                    display: none;
                }

                &#menu2 {
                    display: block;
                }


            }

        }

        .blogArt {
            .containerBlog {
                flex-direction: column;

                .blog {
                    width: 100%;
                }
            }
        }

        .menuList {
            height: 100vh;

            .wrapper {
                .logo {
                    a {
                        font-size: 1.5em;
                    }
                }

                p {
                    font-size: 1.3em;
                }

                .fa-arrow-circle-right {
                    font-size: 6em;
                    position: absolute;
                    top: 17vh;
                    left: 4vh;

                }
            }
        }



    }
}