@media(max-width:1229px) {
    .mapacontainer {

        .mapa {
            width: 45%;
            overflow: hidden;



        }


        .adressdata {

            margin-left: 8vw;

            font-size: 1.4em;








        }
    }

    .tabele {


        .tabela {




            .bay {
                padding: 1vh;




                a {
                    font-size: 1.3em;
                    text-decoration: none;
                    color: black;
                    padding: 0.1vh;
                    transition: $time1;

                }
            }
        }




    }



}